*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffcfe1;
    background-image: url("./img/tv3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48rem ;
    min-height: 100vh;
    margin: 0;

    font-family: "Quantico", sans-serif;
}


#container {
    transform: translate(152%, 43%); 

    width: 25%;

    aspect-ratio: 1 / 1;

    max-height: 80vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 0;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
    border-bottom: 3px solid #000001;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(7),
.box:nth-child(8)  {
    border-right: 3px solid #000000;
}

.box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block; 
}








